# Maven / Gradle
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.sts4-cache/

# VS Code
.vscode/

# Node / React
node_modules/
dist/
build/
.env

# Logs
*.log

backend/src/main/resources/application.properties
